name: cashbook
services:
  Cashbook:
    container_name: Cashbook4
    depends_on: 
      db:
                condition: service_started
                required: true
    environment:
      DATABASE_URL: postgresql://postgres:password@cashbook_db:5432/cashbook?schema=public
      NUXT_ADMIN_PASSWORD: fb35e9343a1c095ce1c1d1eb6973dc570953159441c3ee315ecfefb6ed05f4cc
      NUXT_ADMIN_USERNAME: admin
      NUXT_AUTH_SECRET: auth_secret
      #NUXT_DATA_PATH: "/app/data" # 数据存储未知，现在只有小票图片了，不建议修改
      #NUXT_APP_URL: "http://localhost" # 服务根路径，如果有端口号，需要加上端口号
      #NUXT_AUTH_ORIGIN: "https://localhost/api/auth" # 登录授权相关接口地址 【请自行修改域名/IP！最后要以 /api/auth 结尾！】
    image: dingdangdog/cashbook:latest
    #network_mode: bridge
    ports:
      - target: 9090
        published: "9090"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /home/orangepi/Cashbook/data
        target: /app/data
    x-casaos:
      ports:
        - container: "9090"
          description:
            en_us: WebUI HTTP Port
            zh_cn: WebUI HTTP端口
      volumes:
        - container: /app/data
          description:
            en_us: Cashbook config directory.
            zh_cn: Cashbook 配置目录
  db:
    container_name: cashbook_db
    environment:
      POSTGRES_DB: cashbook
      POSTGRES_PASSWORD: password # 数据库密码 【自行修改！】
    image: postgres:17.6
    restart: unless-stopped
    shm_size: 128mb
    volumes:
      - type: bind
        source: /home/orangepi/Cashbook/postgresql/data
        target: /var/lib/postgresql/data
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  author: asxs
  category: myappstore
  description:
    zh_cn: |
      适合家庭部署的私人记账本！
  developer: dingdangdog
  icon: https://doc.cashbook.oldmoon.top/favicon.png
  main: Cashbook
  port_map: "9090"
  scheme: http
  screenshot_link:
    - https://doc.cashbook.oldmoon.top/demo-dark.jpg
  tagline:
    zh_cn: 适合家庭部署的私人记账本！
  thumbnail: https://doc.cashbook.oldmoon.top/demo-dark.jpg
  title:
    en_us: Cashbook
