name: unblockneteasemusic
services:
  UnblockNeteaseMusic:
    command:
      - -o
      - kugou
      - bilibili
      - pyncmd
      - -s
    container_name: UnblockNeteaseMusic
    environment:
      BLOCK_ADS: "true"
      ENABLE_FLAC: "true"
      ENABLE_LOCAL_VIP: svip
      JSON_LOG: "true"
      LOG_LEVEL: info
      MIN_BR: "320000"
      SEARCH_ALBUM: "true"
    image: pan93412/unblock-netease-music-enhanced:latest
    labels:
      icon: https://user-images.githubusercontent.com/26399680/47980314-0e3f1700-e102-11e8-8857-e3436ecc8beb.png
    ports:
      - target: 8080
        published: "8888"
        protocol: tcp
    restart: unless-stopped
    x-casaos:
      ports:
        - container: "8888"
          description:
            en_us: HTTP Port
            zh_cn: HTTP端口
x-casaos:
  architectures:
    - arm64
  author: asxs
  category: myappstore
  description:
    en_us: 解锁网易云音乐客户端变灰歌曲
  developer: UnblockNeteaseMusic
  icon: https://user-images.githubusercontent.com/26399680/47980314-0e3f1700-e102-11e8-8857-e3436ecc8beb.png
  main: UnblockNeteaseMusic
  port_map: "8888"
  scheme: http
  tagline:
    en_us: 解锁网易云音乐客户端变灰歌曲
  title:
    en_us: UnblockNeteaseMusic
